.grid-motion-overlay {
  position: fixed;
  inset: 0;
  z-index: 200;
  pointer-events: none;
  overflow: hidden;
}

.grid-motion-blur-layer {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  pointer-events: none;
  z-index: 1;
}

.grid-motion-overlay.noscroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-motion-overlay .intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-motion-overlay .intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 250px;
  pointer-events: none;
  z-index: 4;
}

.grid-motion-overlay .gridMotion-container {
  gap: 1rem;
  flex: none;
  position: relative;
  width: 150vw;
  height: 150vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 100%;
  transform: rotate(-15deg);
  transform-origin: center center;
  z-index: 2;
}

.grid-motion-overlay .row {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
  will-change: transform, filter;
}

.grid-motion-overlay .row--split {
  display: flex;
  gap: 0;
  grid-template-columns: unset;
}

.grid-motion-overlay .row__left,
.grid-motion-overlay .row__right {
  display: grid;
  gap: 1rem;
  will-change: transform, filter;
}

.grid-motion-overlay .row__left {
  flex: 4;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 0.5rem;
}

.grid-motion-overlay .row__right {
  flex: 3;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 0.5rem;
}

.grid-motion-overlay .row__item {
  position: relative;
}

.grid-motion-overlay .row__item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.grid-motion-overlay .row__item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.grid-motion-overlay .row__item-content {
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.grid-motion-overlay .fullview {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.grid-motion-overlay .fullview .row__item-inner {
  border-radius: 0;
}
